<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wordstalk.legaldrive.access.dao.profile.mapper.WUserMapper">
    <resultMap id="wUser" type="com.wordstalk.legaldrive.access.dao.profile.model.WUserDO">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPass" column="user_pass"/>
        <result property="roleNameDisplay" column="role_name_display"/>
        <result property="roleNameEn" column="role_name_en"/>
        <result property="loginTime" column="login_time"/>
        <result property="loginIp" column="login_ip"/>
    </resultMap>

    <select id="loginByNameAndPass" parameterType="java.util.Map" resultMap="wUser">
        SELECT a.id, a.user_name, c.role_name_display, c.role_name_en
        FROM legal_user_info a LEFT JOIN legal_user_join_role b ON a.id = b.user_id
        LEFT JOIN legal_role_info c ON b.role_id = c.id
        <where>
            a.user_name=#{userName} AND a.user_pass=#{userPass} AND b.status=1
        </where>
    </select>

    <update id="updateTimeAndIp" parameterType="java.util.Map">
        UPDATE legal_user_info SET update_time=now(), login_ip=#{loginIp} WHERE id=#{id}
    </update>

</mapper>
